<footer class="footer-uoc" role="contentinfo">

  <hr class="footer-uoc__rule" aria-hidden="true" />

  <div class="footer-uoc__bottom site__row site__row--three-columns">
    <div class="footer-uoc__brand site__logo" aria-hidden="true">
      <img class="site__logo-img" src="./assets/images/logo1.png" alt="UOC logo" />
    </div>

    <nav class="footer-uoc__nav" aria-label="Footer navigation">
      <ul class="footer-uoc__menu">
        <li class="footer-uoc__menu-item"><a class="footer-uoc__link" href="./index.html">INICIO</a></li>
        <li class="footer-uoc__menu-item"><a class="footer-uoc__link" href="./participantes.html">PARTICIPANTES</a></li>
        <li class="footer-uoc__menu-item"><a class="footer-uoc__link" href="./articulo.html">ARTÍCULO</a></li>
        <li class="footer-uoc__menu-item"><a class="footer-uoc__link" href="./contacto.html">CONTACTO</a></li>
      </ul>
    </nav>

    <div class="footer-uoc__social" aria-label="Social links">
      <a href="#" class="footer-uoc__social-link"><i class="fa-brands fa-google-plus-g"></i></a>
      <a href="#" class="footer-uoc__social-link"><i class="fa-brands fa-facebook-f"></i></a>
      <a href="#" class="footer-uoc__social-link"><i class="fa-brands fa-twitter"></i></a>
    </div>
  </div>
</footer>