<header class="header">
  <div class="header__container container--margin">
    <a href="./index.html" class="header__logo">
      <img src="./assets/images/logo.png" alt="Logo de la web" class="header__logo-img">
    </a>

    <nav class="header__nav" aria-label="Main navigation">
      <ul class="header__menu">
        <li class="header__item"><a href="./participantes.html" class="header__link">PARTICIPANTES</a></li>
        <li class="header__item"><a href="./articulo.html" class="header__link">ARTÍCULO</a></li>
        <li class="header__item"><a href="./contacto.html" class="header__link">CONTACTO</a></li>
      </ul>
    </nav>
  </div>
</header>
