
<div class="uoc-hero grid" role="region" aria-label="Hero poster">

	<div class="grid-item grid-item__c">
		<p class="uoc-hero__meta">Villa Sabrosa · Entrada libre · Talleres · Degustaciones</p>
	</div>

	<div class="grid-item grid-item__a">
		<h2 class="uoc-hero__subtitle">Sabores que nos unen</h2>
	</div>

	<div class="grid-item grid-item__b">
		<h1 class="uoc-hero__title">JORNADAS DE COCINA TRADICIONAL 2025</h1>
		<p class="uoc-hero__text">Del 12 al 14 de mayo, el Ayuntamiento de Villa Sabrosa y el colectivo gastronómico "Cucharones Unidos" te invitan a descubrir, aprender y disfrutar de los sabores de siempre en unas jornadas únicas dedicadas a la cocina tradicional.</p>
	</div>
	<div class="grid-item grid-item__d animate__animated animate__bounceInRight">
    <p class="uoc-hero__note-title">Entrada gratuita con inscripción previa</p>
	<p class="uoc-hero__note" >Del 12 al 14 de mayo, de 10:00 a 20:00</p>
	<p class="uoc-hero__note" >Centro Cultural de Villa Sabrosa</p>
	<p class="uoc-hero__note-frase" >¡Ven a vivir una experiencia llena de tradición, cultura y sabor!</p>
    <a href="./contacto.html" class="uoc-hero__button">INSCRÍBETE</a>
  </div>
  <div class="grid-item grid-item__e">
	
  </div>
</div>