/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

/**
 * Import dependencies
 */

@use "tools/bootstrap";
@use "elements/home";
@use "settings/variables" as *;
@use "objects/objects" as *;
@use "tools/functions" as *;

/**
 * Import layouts
 * It's a best practice to use a different partial for each page
 */



/**
 * Do NOT include anything else in this file!
 */